body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 { margin: 0 0 10px; }

#container {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #aaa;
  width: 600px;
  min-height: 600px;
  overflow: hidden;
}

#slide_container {
  width: 1300px;
}

.slide_box {
  float: left;
  width: 580px;
  background: 10px;
  border: 1px solid #aaa;
  margin-right: 20px;
  padding: 10px;
}